@media  screen and (max-width: 600px){
    section{
        padding: 2rem 2.5rem !important;
    }
    header{
        padding: 0;
    }
    header .right-header{
        padding: 2rem !important;
    }
    .header-content{
        grid-template-columns: 1fr;
        padding-bottom:  6rem;
        overflow: hidden;
        color: var(--color-white);
        @media screen and (max-width:610px){
            min-height: 100vh;
        }
        .right-header{
            grid-row: 1;
            width: 100%;
            margin: 0 auto;
            .name{
                font-size: 2.5rem !important;
            }
        }
        .left-header{
            .h-shape{
                display: flex;
                flex-direction: column;
            }
        }
        .header-content .left-header .image{
            margin:  0 auto;
            width: 90%;
        }
    
    }
    
    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }
        .left-about{
            padding-right: 0;
            p{
                padding-left: 0 ;
            }
        }
    }
    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .about-stats{
        .progress-bars{
            grid-template-columns: 1fr;
        }
    }
    .portfolios{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .blogs{
        grid-template-columns:1fr;
        padding-bottom: 6rem;
    }
    .section{
        padding: 2rem 2.5rem !important  ;
    }
    .main-title h2 {
        font-size: 3rem;
    }
    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }
    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
    }
    .contact-content-con .right-contact .i-c-2 :last-child{
        margin-left: 0;
        margin-top: 1.5rem;
    }
    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content:space-evenly;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
    }
}